* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.grid-item {
    border: 2px solid black;
    width: 4vw;
    height: 4vw;
    min-width: 50px;
    min-height: 50px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.buttons input {
    display: block;
}

.button button {
    width: 100%;
    padding: .5em;
    font-size: 1.5em;
    font-weight: bold;
    background: black;
    color: white;
    cursor: pointer;
    margin: .5em 0;
}

.radio input {
    display: none;
}

.radio {
    width: 100%;
    text-align: center;
    margin: .5em 0;
}

.radio div {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    padding: .3em;
}

.radio input:checked + div {
    border: 5px solid black;
}

.wall {
    background-color: lime;
}

.enemy {
    background-color: red;
}

.treasure{
    background-color: rgb(88, 88, 255);
}

.light {
    background-color: yellow;
}

.delete {
    background-color: gray;
}

.output {
    min-width: 200px;
    width: 30%;
    max-width: 500px;
    border: 2px solid black;
    height: 80%;
    white-space: pre;
    overflow: auto;
}
