* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.camera-gui {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    font-size: 1.2em;
    color: white;
}


.gui-category {
    display: flex;
    flex-direction: column;
}

.loading-screen {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #090707;
    position: fixed;
    top: 0;
    left: 0;
}

.dank-ass-loader {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dank-ass-loader .row {
	display: flex;
}

.arrow {
	width: 0;
	height: 0;
	margin: 0 -6px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 21.6px solid #ffbd24;
	animation: blink 1s infinite;
	filter: drop-shadow(0 0 18px #ffbd24);
}

.arrow.down {
	transform: rotate(180deg);
}

.arrow.outer-1 {
	animation-delay: -0.05556s;
}

.arrow.outer-2 {
	animation-delay: -0.11111s;
}

.arrow.outer-3 {
	animation-delay: -0.16667s;
}

.arrow.outer-4 {
	animation-delay: -0.22222s;
}

.arrow.outer-5 {
	animation-delay: -0.27778s;
}

.arrow.outer-6 {
	animation-delay: -0.33333s;
}

.arrow.outer-7 {
	animation-delay: -0.38889s;
}

.arrow.outer-8 {
	animation-delay: -0.44444s;
}

.arrow.outer-9 {
	animation-delay: -0.5s;
}

.arrow.outer-10 {
	animation-delay: -0.55556s;
}

.arrow.outer-11 {
	animation-delay: -0.61111s;
}

.arrow.outer-12 {
	animation-delay: -0.66667s;
}

.arrow.outer-13 {
	animation-delay: -0.72222s;
}

.arrow.outer-14 {
	animation-delay: -0.77778s;
}

.arrow.outer-15 {
	animation-delay: -0.83333s;
}

.arrow.outer-16 {
	animation-delay: -0.88889s;
}

.arrow.outer-17 {
	animation-delay: -0.94444s;
}

.arrow.outer-18 {
	animation-delay: -1s;
}

.arrow.inner-1 {
	animation-delay: -0.16667s;
}

.arrow.inner-2 {
	animation-delay: -0.33333s;
}

.arrow.inner-3 {
	animation-delay: -0.5s;
}

.arrow.inner-4 {
	animation-delay: -0.66667s;
}

.arrow.inner-5 {
	animation-delay: -0.83333s;
}

.arrow.inner-6 {
	animation-delay: -1s;
}

@keyframes blink {
	0% {
		opacity: 0.1;
	}

	30% {
		opacity: 1;
	}

	100% {
		opacity: 0.1;
	}
}

.player-stats {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	padding: 2em;
	height: 100px;
}

.life-wrapper, .enemy-life-wrapper {
	width: 400px;
	height: 20px;
	background: url(assets/8b35255f15d604905d0b7d5c7026a34f-health.gif);
	background-size: 450px 50px;
	background-position: center center;
	border-radius: 10px;
	overflow: hidden;
}

.player-life, .enemy-life {
	width: 100%;
	height: 100%;
	background-color: black;
}

.ammo-wrapper {
	margin-top: 10px;
	width: 380px;
	height: 20px;
	background: url(assets/3d6c76ef4af9ba193e198b06ebfc376b-ammo.gif);
	background-size: 480px 50px;
	background-position: center center;
	border-radius: 10px;
	overflow: hidden;
}

.player-ammo {
	width: 100%;
	height: 100%;
	background-color: black;
}

.game-over {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(assets/4e9c649d090acb239a17331b62edd340-gameover.gif);
	background-size: cover;
	z-index: 10;
}

.win {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(assets/1af08729bc93fea6fc4fb432b0e49863-won.gif);
	background-size: cover;
	z-index: 10;
}

.enemies-stats {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	padding: 2em;
}

.enemy-life-wrapper {
	width: 300px;
	margin-top: 1em;
}

.enemy-life {
	background-size: 350px 50px;
}

